#about {
    background-color: #fccca5af;
}
.about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 50px;
}

/* .about div {
    margin: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.aboutInfo {
    grid-column: 4 / span 4;
    text-align: left;
}

.aboutPortrait {
    grid-column: 8 / span 2
}

.about img {
    height: 250px;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}

/* @media screen and (min-width: 480px) {
    .about {
    }

    .about img {
        height: 300px;
    }
  } */



  
