@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
  scroll-behavior: smooth;
}

h1, h2 {
  color: #A8E7E9;
  font-family: 'Righteous', cursive;
  -webkit-text-stroke: 1px rgba(121, 116, 116, 0.767);
  font-size: 3.5rem;
}

h3, p, a, li, td, button {
  font-family: 'Poppins', sans-serif;
}

main {
  top: 57px;
}

@media screen and (min-width: 480px) {
  main {
    top: 57px;
  }
}