@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald:wght@300;400;600&display=swap');

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
  scroll-behavior: smooth;
}

body {
  margin: 0 5% 0 5%;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

h5, p, a, li, td, button {
  font-family: 'Lato', sans-serif;
}

button {
  background-color: white;
  border: 2px solid black;
  border-radius: 0px;
  box-shadow: 3px 3px 5px black;
  transition: box-shadow 150ms ease-in-out;
}

button:hover {
  box-shadow: 1px 1px 7px black;
}



@media screen and (min-width: 480px) {

}